# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=69l341f0
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=

# Formspree
NEXT_PUBLIC_FORMSPREE_ID=mwvjewly

# Site URL (used for sitemap + canonical URLs)
NEXT_PUBLIC_SITE_URL=https://letsgettrowled.com.au

# Google Analytics
NEXT_PUBLIC_GA_ID=G-KSKCBF6L9F
